h4.courseTitle {
font-weight: bold;
padding-left: 9px;
margin-top: 4px;
margin-bottom: 2px;
font-size: 14px;
}
.sidebar {
	padding-top: 0px;
}

.navbar .nav {
	margin-left: 64px;

}

.jumbotron h1 {
	font-size: 43px;
}

.label-danger a {
color: #fff;
}

div.caption a:hover,
div.caption a:focus {
text-decoration: none;
}
div.description {
	padding:9px 9px 0 9px;
}
.singleCourse div.caption {
	border: 1px solid #000;
	background-color: whitesmoke;
	margin: 9px;
	color: #333333;
	padding: 0px!important;
}
.singleCourse div.caption h4 {
	background-color:greenyellow;
}
.singleCourse div.caption h4,
.singleCourse div.caption h5 {
	padding: 4px;
	border-bottom: 1px solid #000;
	margin: 0px;
} 
